<div class="titlebar">
    <button class="left" id="showMenu">SHOW</button>
    
    <div class="left">
        <%= server_name %>
    </div>
</div>

<div class="view-database">
    <div class="page">
        <h2><%= server_name %></h2>
        
        <div class="section statistics">
            <div class="inner">
                <h3>Server Information</h3>
                
                <ul class="widget-list">
                    <li class="on">
                        <div class="text">Number of databases</div>
                        <div class="number
                            <% if (num_databases <= 15) { %>
                                low
                            <% } else if (num_databases <= 30) { %>
                                medium
                            <% } else { %>
                                high
                            <% } %>
                        ">
                            <%= num_databases %>
                        </div>
                    </li>
                    <li class="off">
                        <div class="text">Total size</div>
                        <div class="number low"><%= size %><br/><span><%= size_unit %></span></div>
                    </li>
                    <li class="on">
                        <div class="text">MySQL Version</div>
                        <div class="text right"><%= version %></div>
                    </li>
                    <li class="off">
                        <div class="text">MySQL Charset</div>
                        <div class="text right"><%= charset.toUpperCase() %></div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="section tools">
            <div class="inner">
                <h3>Tools &amp; Operations</h3>
                
                <ul class="widget-list">
                    <li class="on">
                        <div class="text">
                            <u>Create a new database</u>
                        </div>
                    </li>
                    <li class="off">
                        <div class="text">
                            <u>Modify user permissions</u>
                        </div>
                    </li>
                    <li class="on">
                        <div class="text">
                            <u>Alter database settings</u>
                        </div>
                    </li>
                    <li class="off">
                        <div class="text">
                            <u>View reports and optimisation tips</u>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="section tips">
            <div class="inner">
                <h3>Optimisations &amp; Improvements</h3>
                
                <ul class="widget-list">
                    <li class="on">
                        <div class="text monospace">documents_doctypes</div>
                        <div class="number high">3</div>
                    </li>
                    <li class="off">
                        <div class="text monospace">edit_lock</div>
                        <div class="number medium">2</div>
                    </li>
                    <li class="on">
                        <div class="text monospace">http_error_log</div>
                        <div class="number low">1</div>
                    </li>
                    <li class="off">
                        <div class="text monospace">object_6</div>
                        <div class="number low">1</div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="section queries full">
            <div class="inner">
                <h3>Real-time Queries</h3>
                
                <ul class="widget-list loading"></ul>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
