<div class="titlebar">
    <div class="left">
        Custom Query
    </div>
    
    <div class="right statistics">
        <% if (rows) { %>
            <%= rows.length %>
            row<%= rows.length > 1 ? "s" : "" %>
        <% } %>
    </div>
</div>

<div class="tableview" id="tableview">
    <table>
        <thead>
            <tr>
                <% _.each(columns, function (column) { %>
                    <th>
                        <%- column.name %>
                    </th>
                <% }); %>
            </tr>
        </thead>
        
        <tbody>
            <% _.each(rows, function (row) { %>
                <tr>
                    <% _.each(columns, function (column) { %>
                        <td
                        ><%-
                            row[column.name]
                        %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
