<div class="titlebar">
    <div class="left">
        Custom Query
    </div>
    
    <div class="right btn next">
        &gt;
    </div>
    <div class="right btn prev">
        &lt;
    </div>
    
    <div class="right statistics">
        Stats
    </div>
</div>

<div class="tableview" id="tableview">
    <table>
        <thead>
            <tr>
                <td>foo</td>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>bar</td>
            </tr>
            <tr>
                <td>baz</td>
            </tr>
        </tbody>
    </table>
</div>
