<div class="titlebar">
    <%= tableview.query.get('query_title') %>
</div>

<div class="tableview" id="tableview">
    <table>
        <thead>
            <tr>
                <% _.each(tableview.query.get('columns'), function (column) { %>
                    <th>
                        <%= column.get('name') %>
                    </th>
                <% }); %>
            </tr>
        </thead>
        
        <tbody>
            <% _.each(tableview.query.get('rows'), function (row) { %>
                <tr>
                    <% _.each(tableview.query.get('columns'), function (column) { %>
                        <td
                            <% if (column.isPrimaryKey()) { %>
                                class='primary'
                            <% } %>
                        >
                            <%- row[column.get('name')] %>
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
