<div class="titlebar">
    <%= table.table_name %>
</div>

<div class="tableview" id="structure">
    <table>
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Type</th>
                <th>Allow Null</th>
                <th>Default value</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(table.getColumns(), function (column) { %>
                <tr>
                    <!-- Column parameters: -->
                    <input type="hidden" class="column_name" value="<%= column.get('name') %>" />
                    
                    <!-- Fields: -->
                    <td><%= column.get('name') %></td>
                    <td><%= column.get('datatype') %></td>
                    <td style="text-align: center">
                        <input type="checkbox" class="allownull"
                            <% if (column.getNull()) { %>
                                checked="checked"
                            <% } %>
                            
                            <% if (column.isPrimaryKey()) { %>
                                disabled="disabled"
                            <% } %>
                        />
                    </td>
                    <td><%= column.get('default') %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
