<div class="titlebar">
    <div class="left">
        <%= tableview.query.get('query_title') %>
    </div>
    
    <div class="right btn next">
        &gt;
    </div>
    <div class="right btn prev">
        &lt;
    </div>
    
    <div class="right statistics">
        <% if (tableview.query.has('num_rows')) { %>
            Rows
            <%= tableview.query.get('offset') %>
            -
            
            <% if (tableview.query.get('num_rows') > tableview.query.get('offset') + tableview.query.get('limit')) { %>
                <%= tableview.query.get('offset') + tableview.query.get('limit') %>
                of
                <%= tableview.query.get('num_rows') %>
            <% } else { %>
                <%= tableview.query.get('num_rows') %>
            <% } %>
        <% } %>
    </div>
</div>

<div class="tableview" id="tableview">
    <table>
        <thead>
            <tr>
                <% _.each(tableview.query.get('columns'), function (column) { %>
                    <th>
                        <%= column.get('name') %>
                    </th>
                <% }); %>
            </tr>
        </thead>
        
        <tbody>
            <% _.each(tableview.query.get('rows'), function (row) { %>
                <tr>
                    <% _.each(tableview.query.get('columns'), function (column) { %>
                        <td
                            <% if (column.isPrimaryKey()) { %>
                                class='primary'
                            <% } %>
                            data-column-name="<%= column.get('name') %>"
                        ><%-
                            row[column.get('name')]
                        %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
