<div class="titlebar">
    <div class="left">
        <%= tableview.table.get('name') %>
    </div>
    
    <div class="right btn next">
        &gt;
    </div>
    <div class="right btn prev">
        &lt;
    </div>
    
    <div class="right statistics">
        <% if (num_rows) { %>
            Rows
            <%= offset %>
            -
            
            <% if (num_rows > offset + limit) { %>
                <%= offset + limit %>
                of
                <%= num_rows %>
            <% } else { %>
                <%= num_rows %>
            <% } %>
        <% } %>
    </div>
</div>

<div class="tableview" id="tableview">
    <table>
        <thead>
            <tr>
                <% _.each(columns, function (column) { %>
                    <th>
                        <%= column.get('name') %>
                    </th>
                <% }); %>
            </tr>
        </thead>
        
        <tbody>
            <% _.each(rows, function (row) { %>
                <tr>
                    <% _.each(columns, function (column) { %>
                        <td
                            <% if (column.isPrimaryKey()) { %>
                                class='primary'
                                data-value='<%- row[column.get('name')] %>'
                            <% } %>
                            data-column-name="<%= column.get('name') %>"
                        ><%-
                            row[column.get('name')]
                        %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
