<div class="search">
    <input type="text" placeholder="Search..." value="<%= search_term %>" />
</div>

<ul>
    <% _.each(items, function(item) { %>
        <% if (item.hidden) return; %>
        
        <li class="item">
            <a href="<%= item.url %>" <% if (item.active) { %>class="active"<% } %>>
                <% if (item.icon) { %>
                    <span class="icon">
                        <img src='<%= item.icon %>' />
                    </span>
                <% } %>
                
                <span class="text">
                    <%= item.text %>
                </span>
            </a>
        </li>
    <% }); %>
</ul>
