<div class="titlebar">
    <div class="left">
        <%= server_name %>
    </div>
</div>

<div class="view-database">
    <div class="page">
        <h2><%= database_name %></h2>
        
        <div class="section statistics">
            <div class="inner">
                <h3>Database Statistics</h3>
                
                <ul class="widget-list">
                    <li class="on">
                        <div class="text">Number of tables</div>
                        <div class="number
                            <% if (num_tables <= 15) { %>
                                low
                            <% } else if (num_tables <= 30) { %>
                                medium
                            <% } else { %>
                                high
                            <% } %>
                        ">
                            <%= num_tables %>
                        </div>
                    </li>
                    <li class="off">
                        <div class="text">Total size</div>
                        <div class="number low">2<span>GB</span></div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="section tools">
            <div class="inner">
                <h3>Tools &amp; Operations</h3>
                
                <ul class="widget-list">
                    <li class="on">
                    </li>
                    <li class="off">
                    </li>
                    <li class="on">
                    </li>
                    <li class="off">
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="section tips">
            <div class="inner">
                <h3>Optimisations &amp; Improvements</h3>
                
                <ul class="widget-list">
                    <li class="on">
                        <div class="text monospace">documents_doctypes</div>
                        <div class="number high">3</div>
                    </li>
                    <li class="off">
                        <div class="text monospace">edit_lock</div>
                        <div class="number medium">2</div>
                    </li>
                    <li class="on">
                        <div class="text monospace">http_error_log</div>
                        <div class="number low">1</div>
                    </li>
                    <li class="off">
                        <div class="text monospace">object_6</div>
                        <div class="number low">1</div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="section queries full">
            <div class="inner">
                <h3>Real-time Queries</h3>
                
                <ul class="widget-list">
                    <li class="on warning">
                        <div class="query">SELECT * FROM classes WHERE id = 5;</div>
                        <div class="time high">1 minute, 7 seconds</div>
                    </li>
                    <li class="off">
                        <div class="query">SELECT * FROM documents_doctypes WHERE date_published &lt; now();</div>
                        <div class="time medium">12 seconds</div>
                    </li>
                    <li class="on">
                        <div class="query">SELECT * FROM tbl_pages LIMIT 15, 30;</div>
                        <div class="time medium">8 seconds</div>
                    </li>
                    <li class="off">
                        <div class="query">DELETE FROM glossary WHERE id = 7423;</div>
                        <div class="time low">1 second</div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
