<script type="text/x-handlebars-template" id="template-login">
    <div class="navigation">
        <a class="brand" href="#">Schema</a>
    </div>

    <form action="" method="post" class="login">
        <h2>Login to Schema</h2>
        
        <label for="login-email">Email Address</label>
        <input type="text" id="login-email" name="email" value="" />
        
        <div class="clear"></div>
        
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" value="" />
        
        <div class="clear"></div>
        
        <input type="submit" value="Login" />
    </form>
</script>
