div.ui-sheet {
    position: fixed;
    z-index: 11;
    
    width: 700px;
    height: 250px;
    top: @toolbar_height - 1px;
    left: 50%;
    margin-left: -350px;
    
    background: #fff;
    border: 1px solid darken(@toolbar_bg, 20%);
    box-shadow: 0 3px 3px #ccc;
    
    margin-top: -260px;
}

@media screen and (max-width:500px) {
    div.ui-sheet {
    }
}
