<script type="text/x-handlebars-template" id="template-app"><div class="navigation">
    <a class="brand" href="#">Schema</a>
    
    <div class="user">
        <img class="gravatar" src="http://gravatar.com/avatar/<%= window.user.gravatar %>?s=38&amp;r=pg&amp;d=mm" alt="" />
        
        <p class="user-info">
            Logged in as <span><%= window.user.email %></span>
            <br/>
            <a href="/#/logout/" class="navbar-link">
                Logout?
            </a>
        </p>
    </div>
</div>

<div class="sidebar">
    <div class="toolbar">
        <div class="title">
            <!-- <a href="/servers/{{server.id}}/">{{server}}</a>
            &gt;
            <a href="/servers/{{server.id}}/databases/{{database}}/">{{database}}</a> -->
        </div>
        
        <!-- <div class="right icons">
            <a href="" class="icon search"></a>
            <a href="" class="icon add"></a>
        </div> -->
    </div>
    
    <div class="search">
        <input type="text" placeholder="Search..." />
    </div>
    
    <ul class="sidenav">
        
    </ul>
</div>

<div class="main">
    
</div>
</script><script type="text/x-handlebars-template" id="template-connect-to-server"><ul class="form">
    <li class="label">
        <label for="connect-hostname">Hostname</label>
    </li>
    <li class="input">
        <input type="text" id="connect-hostname" value="<%= hostname %>" />
    </li>
    
    
    <li class="label">
        <label for="connect-username">Username</label>
    </li>
    <li class="input">
        <input type="text" id="connect-username" value="<%= username %>" />
    </li>
    
    
    <li class="label">
        <label for="connect-password">Password</label>
    </li>
    <li class="input">
        <input type="password" id="connect-password" value="" />
    </li>
    
    
    <li class="label">
        <label for="connect-port">Port</label>
    </li>
    <li class="input">
        <input type="text" id="connect-port" value="<%= port ? port : 3306 %>" />
    </li>
    
    
    <!--<li class="label">
        <label for="db_type">Database Type</label>
    </li>
    <li class="input">
        <select name="db_type" id="db_type">
            <option value="1" <% if (db_type == "MySQL") { %>selected="selected"<% } %>>MySQL</option>
            <option value="2" <% if (db_type == "PostgreSQL") { %>selected="selected"<% } %>>PostgreSQL</option>
            <option value="3" <% if (db_type == "MongoDB") { %>selected="selected"<% } %>>MongoDB</option>
        </select>
    </li>-->
    
    
    <li class="input">
        <input type="submit" id="server-connect-button" value="Connect" />
        <input type="submit" value="Save" />
    </li>
</ul>
</script><script type="text/x-handlebars-template" id="template-database-picker">Need to decide what should be shown on this screen.
</script><script type="text/x-handlebars-template" id="template-serveritem"><li>
    <a href="#/servers/<%= id %>/"><%= name %></a>
</li>
</script><script type="text/x-handlebars-template" id="template-tableview"><div class="titlebar">
    <%= table.table_name %>
</div>

<div class="tableview">
    <table>
        <thead>
            <tr>
                <% _.each(table.getColumns(), function (column) { %>
                    <th>
                        <%= column.Field %>
                    </th>
                <% }); %>
            </tr>
        </thead>
        
        <tbody>
            <% _.each(table.getRows(), function (row) { %>
                <tr>
                    <% _.each(table.getColumns(), function (column) { %>
                        <td>
                            <%= row[column.Field] %>
                        </td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</script><script type="text/x-handlebars-template" id="template-ui-sidebar"><div class="search">
    <input type="text" placeholder="Search..." />
</div>

<ul>
    <% _.each(items, function(item) { %>
        <li class="item">
            <a href="<%= item.url %>" <% if (item.active) { %>class="active"<% } %>>
                <% if (item.icon) { %>
                    <span class="icon">
                        <img src='<%= item.icon %>' />
                    </span>
                <% } %>
                
                <span class="text">
                    <%= item.text %>
                </span>
            </a>
        </li>
    <% }); %>
</ul>
</script><script type="text/x-handlebars-template" id="template-ui-toolbar-section"><ul>
    <% _.each(items, function(item) { %>
        <li class="item">
            <a href="<%= item.url %>"
                <% if (item.event) { %>
                    onclick="jQuery('body').trigger(jQuery.Event(item.event));"
                <% } %>
            >
                <div class="image" style="" /></div>
                <div class="text"><%= item.text %></div>
            </a>
        </li>
    <% }); %>
</ul>
</script>