@import "reset";
@import "elements";
@import "variables";

@toolbar_height: 45px;
@toolbar_icon_size: 20px;
@toolbar_bg: #634A78;

@sidebar_width: 230px;


body {
    background: #fff;
    font-family: "Open Sans", serif;
}

@import "ui/toolbar";

.ui-sidebar {
    background: darken(@toolbar_bg, 10%);
    width: @sidebar_width - 1px;
    border-right: 1px solid darken(@toolbar_bg, 20%);
    
    position: fixed;
    top: @toolbar_height;
    bottom: 0;
    left: 0;
    overflow: scroll;
    
    li {
        width: @sidebar_width - 21px;
        a {
            float: left;
            width: 100%;
            font-size: 12px;
            padding: 7px 10px;
            border-bottom: 1px solid darken(@toolbar_bg, 15%);
            color: lighten(@toolbar_bg, 40%);
            text-decoration: none;
            
            &:hover {
                background: darken(@toolbar_bg, 6%);
            }
            
            &.active {
                background: darken(@toolbar_bg, 15%);
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.ui-view {
    background: #ededed;
    position: absolute;
    top: @toolbar_height;
    bottom: 0;
    right: 0;
    left: @sidebar_width + 1px; // 1px is for border
}
