@import "reset";
@import "elements";

/**
 * Theme settings
 */

// Toolbar:
@toolbar_height: 45px;
@toolbar_icon_size: 30px;
// @toolbar_bg: #634A78;
@toolbar_bg: #5D86B3;

// Sidebar:
@sidebar_width: 230px;


/**
 * General styles
 */
body {
    background: #fff;
    font-family: "Open Sans", serif;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.monospace {
    font-family: "Droid Sans Mono", monospace;
}


/**
 * Import UI elements
 */
@import "ui/toolbar";
@import "ui/sidebar";
@import "ui/view";
@import "ui/pane";
@import "ui/statusbar";


/**
 * Import view styling
 */
@import "views/database-connect";
@import "views/view-database";
