doctype 5
html
  head
    title Schema
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Molle:400italic|Open+Sans:400italic,400,600|Droid+Sans+Mono')
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    include built/templates.html
    
    script(type='text/javascript', src='/bower_components/jquery/jquery.min.js')
    script(type='text/javascript', src='/bower_components/underscore/underscore-min.js')
    script(type='text/javascript', src='/bower_components/underscore.string/dist/underscore.string.min.js')
    script(type='text/javascript', src='/bower_components/backbone/backbone-min.js')
    
    script(type='text/javascript', src='/javascripts/general/selectText.jquery.js')
    
    script(type='text/javascript', src='/javascripts/database/Column.js')
    script(type='text/javascript', src='/javascripts/database/Row.js')
    script(type='text/javascript', src='/javascripts/database/Table.js')
    script(type='text/javascript', src='/javascripts/database/Database.js')
    script(type='text/javascript', src='/javascripts/database/Server.js')
    script(type='text/javascript', src='/javascripts/database/Query.js')
    
    script(type='text/javascript', src='/javascripts/interface/toolbar.js')
    script(type='text/javascript', src='/javascripts/interface/sidebar.js')
    script(type='text/javascript', src='/javascripts/interface/view.js')
    script(type='text/javascript', src='/javascripts/interface/pane.js')
    
    script(type='text/javascript', src='/javascripts/view/DatabasePicker.js')
    script(type='text/javascript', src='/javascripts/view/Login.js')
    script(type='text/javascript', src='/javascripts/view/SQLEditor.js')
    script(type='text/javascript', src='/javascripts/view/TableView.js')
    
    script(type='text/javascript', src='/javascripts/app.js')
  body
    div.ui-toolbar
        div.section.sidebar#schema_logo
            h1
                a(href="/#/") Schema
        div.section.left
        div.section.right
    div.ui-sidebar#sidebar
    div.ui-pane#pane
    div.ui-view#main
    div.ui-statusbar#statusbar
        div.left
        div.right.btn.next
            >
        div.right.btn.prev
            <
