doctype 5
html
  head
    title Schema
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Molle:400italic|Open+Sans:400italic,400,600')
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    include built/templates.html
    
    script(type='text/javascript', src='/javascripts/vendor/jquery.js')
    script(type='text/javascript', src='/javascripts/vendor/underscore.js')
    script(type='text/javascript', src='/javascripts/vendor/strings.js')
    script(type='text/javascript', src='/javascripts/vendor/backbone.js')
    
    script(type='text/javascript', src='/javascripts/User.js')
    script(type='text/javascript', src='/javascripts/DBConnection.js')
    script(type='text/javascript', src='/javascripts/Table.js')
    script(type='text/javascript', src='/javascripts/TableView.js')
    script(type='text/javascript', src='/javascripts/DatabasePicker.js')
    script(type='text/javascript', src='/javascripts/Login.js')
    script(type='text/javascript', src='/javascripts/ui/toolbar.js')
    script(type='text/javascript', src='/javascripts/ui/sidebar.js')
    script(type='text/javascript', src='/javascripts/ui/view.js')
    script(type='text/javascript', src='/javascripts/ui/pane.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    div.ui-toolbar
        div.section.sidebar#schema_logo
            h1
                a(href="/#/") Schema
        div.section.left
        div.section.right
    div.ui-sidebar#sidebar
    div.ui-pane#pane
    div.ui-view#main
