doctype 5
html
  head
    title Schema
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Molle:400italic|Open+Sans:400italic,400,600|Droid+Sans+Mono|Merriweather:300italic')
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    include built/templates.html
    
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='translucent')
    
    link(rel='apple-touch-icon', href='/images/iOS/big.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/iOS/big.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/iOS/medium.png')
    
    link(rel='apple-touch-startup-image', href='/images/iOS/splash-iphone3.png')
    
    script(type='text/javascript', src='/javascripts/general/console.js')
    
    script(type='text/javascript', src='/bower_components/jquery/jquery.min.js')
    script(type='text/javascript', src='/bower_components/underscore/underscore-min.js')
    script(type='text/javascript', src='/bower_components/underscore.string/dist/underscore.string.min.js')
    script(type='text/javascript', src='/bower_components/backbone/backbone-min.js')
    
    script(type='text/javascript', src='/javascripts/config/datatype_definitions.js')
    
    script(type='text/javascript', src='/javascripts/general/selectText.jquery.js')
    
    script(type='text/javascript', src='/javascripts/sql/SQL.js')
    script(type='text/javascript', src='/javascripts/sql/SQL_MySQL.js')
    
    script(type='text/javascript', src='/javascripts/database/Column.js')
    script(type='text/javascript', src='/javascripts/database/Table.js')
    script(type='text/javascript', src='/javascripts/database/Database.js')
    script(type='text/javascript', src='/javascripts/database/Server.js')
    script(type='text/javascript', src='/javascripts/database/Query.js')
    
    script(type='text/javascript', src='/javascripts/interface/Toolbar.js')
    script(type='text/javascript', src='/javascripts/interface/Sidebar.js')
    script(type='text/javascript', src='/javascripts/interface/View.js')
    script(type='text/javascript', src='/javascripts/interface/QueryPane.js')
    script(type='text/javascript', src='/javascripts/interface/StatusBar.js')
    script(type='text/javascript', src='/javascripts/interface/Sheet.js')
    script(type='text/javascript', src='/javascripts/interface/Prompt.js')
    script(type='text/javascript', src='/javascripts/interface/ConcernedConfirmation.js')
    
    script(type='text/javascript', src='/javascripts/view/ServerView.js')
    script(type='text/javascript', src='/javascripts/view/DatabaseView.js')
    script(type='text/javascript', src='/javascripts/view/Login.js')
    script(type='text/javascript', src='/javascripts/view/TableView.js')
    script(type='text/javascript', src='/javascripts/view/TableInfo.js')
    script(type='text/javascript', src='/javascripts/view/TableStructure.js')
    script(type='text/javascript', src='/javascripts/view/QueryView.js')
    script(type='text/javascript', src='/javascripts/view/ContentView.js')
    
    script(type='text/javascript', src='/javascripts/app.js')
  body
    div.ui-toolbar
        button#showLeftNav
        div.section.sidebar#schema_logo
            h1
                a(href="/#/") Schema
        div.section.left
        div.section.right
        button#showToolbar
    div.ui-sidebar#sidebar
    div.ui-pane#pane
    div.ui-sheet#sheet
    div.ui-view#main
    div.ui-statusbar#statusbar
        div.sidebar
        div.main
            div.left
            div.right.btn.next
                >
            div.right.btn.prev
                <
