#sheet {
    .prompt {
        padding: 30px;
        
        h2 {
            padding: 0;
            font-size: 20px;
        }
        
        input.prompt {
            margin: 0;
            padding: 0;
            height: 30px;
            font-size: 20px;
            margin: 25px 0;
            width: 100%;
        }
        
        button {
            cursor: pointer;
            
            &.cancel {
                border: 0;
                background: none;
                text-decoration: underline;
                float: right;
                
                &:hover {
                    color: blue;
                }
            }
            &.complete {
                background: black;
                color: white;
                border: 0;
                border-radius: 15px;
                font-size: 13px;
                padding: 4px 12px;
                
                &:hover {
                    background: #555;
                }
            }
        }
    }
}
